body {
    background-color: rgb(72, 100, 138);
    background: linear-gradient(rgb(10, 27, 56), rgb(156, 139, 139));
    font-family: fantasy; 
    font-size: 40px; 
    text-align: center; 
    color: rgb(118, 118, 201);
    

  
} 

h1{
 color: rgb(162, 175, 190);

}
#gameoptions {
    display: flex;
    flex-direction: column; 
   max-width: 100vh;
   max-height: 200vh;
    border-radius: 1em;
   border-style: hidden;
    position: relative;
    left: 11em; 
    background-color: rgb(164, 164, 189); 
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75); 
    background-image: url("./images/claudio-luiz-castro-_R95VMWyn7A-unsplash\ \(1\).jpg");
    background-position: center;
}
    




div { 
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-style: none;
 
} 

input{ 
    border-style: none;
    border-radius: 0.5em;
    padding: 0.5em; 
    background-color:rgb(116, 134, 167);
}

button{
    background-color: rgb(97, 97, 148);
    border-radius: 0.5em;
    border-style: none;
    padding: 1em; 
    font-weight: bold;
} 

button:hover{
background-color: rgb(106, 106, 201);
}